## Advanced Python Programming - First Assignment
### Topics Covered: Data Types, Data Structures, Loops, Conditionals, Functions
### ..

#### Question 1: Data Types and Input Handling
##### Take input for student name, roll number, age, and marks
##### Display each value with its data type
##### Convert age to float and marks to int before displaying.

In [1]:
 name = input("Enter student name: ")
 roll = input("Enter roll number: ")
 age = float(input("Enter age: "))
 marks = int(input("Enter marks: "))
 print(name, type(name))
 print(roll, type(roll))
 print(age, type(age))
 print(marks, type(marks))

Tushar Khatiwada <class 'str'>
HCE080BCT046 <class 'str'>
20.0 <class 'float'>
99 <class 'int'>

#### ====================================================================================
#### Question 2: Conditional Logic
#####  Accept marks (0–100) and display grade
##### Excellent (>=80), Good (>=60), Pass (>=40), Fail (<40)

In [6]:
# taking marks as input from the user
marks = int(input("Enter marks (0-100): "))

# Suitable Conditional loop(if else)
if marks >= 80:
    grade = "Excellent"
elif marks >= 60:
    grade = "Good"
elif marks >= 40:
    grade = "Pass"
else:
    grade = "Fail"

# Display result
print(f"Marks: {marks} -> Grade: {grade}")

Enter marks (0-100):  69

Marks: 69 -> Grade: Good

#### ====================================================================================
#### Question 3: Looping with Conditions
##### Print numbers 1-100 divisible by 4 but not by 8

In [8]:
# Using Suitable loop (for loop)

for i in range(1, 100):
    if i % 4 == 0 and i % 8 != 0:
        print(i, end="  ")

4  12  20  28  36  44  52  60  68  76  84  92

#### ====================================================================================
#### Question 4: List Operations
##### marks = [55, 72, 48, 90, 67, 72, 90]
##### Find max, min, count of 72, marks >= 60

In [11]:
marks = [55, 72, 48, 90, 67, 72, 90]

# Maximum and Minimum
maximum_marks = max(marks)
minimum_marks = min(marks)

# Count of 72
count_72 = marks.count(72)

# Marks >= 60(newly learned in single line)
above_60 = [m for m in marks if m >= 60]

print("Max:", maximum_marks)
print("Min:", minimum_marks)
print("Count of 72:", count_72)
print("Marks >= 60:", above_60)

Max: 90
Min: 48
Count of 72: 2
Marks >= 60: [72, 90, 67, 72, 90]

#### ====================================================================================
#### Question 5: Tuple and Immutability
##### Create a tuple of 5 subjects and attempt modification.
##### Explain result using comments.

In [19]:
# Creating Tuple of subjects
subjects = ("Math", "Physics", "Chemistry", "English", "Biology")

# Attempt to modify the tuple
# subjects[0] = "Computer Science"  # This would raise Error: 'tuple' object does not support item assignment and modification due to its immutable func
# subjects[3] = "Social"             # Another invalid attempt

"""
Explanation:
Tuples are ordered collections that are immutable.
This means once a tuple is created, its elements cannot be changed,
added, or removed. Any attempt to modify it raises an error.
"""

# Display tuple and its type
print(subjects, type(subjects))

('Math', 'Physics', 'Chemistry', 'English', 'Biology') <class 'tuple'>

#### ====================================================================================
#### Question 6: List Sanitization and Metrics
Given:
```python
marks = [45, -3, 88, "NA", 102, None, 67]
```

Write a function that:
1. Removes invalid entries  
2. Returns:
   - Cleaned list  
   - Number of invalid entries  
   - Percentage of valid marks  

Return values using a tuple.

In [2]:
marks = [45, -3, 88, "NA", 102, None, 67]

valid_marks = []
invalid_count = 0

for m in marks:
    if type(m) == int or type(m) == float:
        if m >= 0 and m <= 100:
            valid_marks.append(m)
        else:
            invalid_count += 1
    else:
        invalid_count += 1

valid_percentage = (len(valid_marks) / len(marks)) * 100

print("Cleaned List:", valid_marks)
print("Invalid Entries:", invalid_count)
print("Valid Marks Percentage:", valid_percentage)

Cleaned List: [45, 88, 67]
Invalid Entries: 4
Valid Marks Percentage: 42.857142857142854

#### ====================================================================================

#### Question 7: Dictionary Usage
Create a dictionary of roll number and name.  
Implement add, update, and display operations using functions.

In [2]:
#creating a dictionary with name students
students = {}

def add_student(roll, name):
    students[roll] = name

def update_student(roll, name):
    if roll in students:
        students[roll] = name
    else:
        print("Roll number not found")

def display_students():
    for roll, name in students.items():
        print(roll, ":", name)

add_student(1, "Tushar")
add_student(2, "Phillip")

update_student(1, "Tushar Khatiwada")

display_students()

1 : Tushar Khatiwada
2 : Phillip

#### ====================================================================================
#### Question 8: Prime Number Function
Write `is_prime(n)` and display prime numbers between 1 and 50.

In [24]:
def prime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

for n in range(1, 50):
    if prime(n):
        print(n,end="   ")

#It checks prime number for user entered number 

# num = int(input("Enter a number: "))
#if num <= 1:
#    print(num, "is not a prime number")
#else:
#    for i in range(2, num):
#       if num % i == 0:
#            print(num, "is not a prime number")
#            break
#    else:
#        print(num, "is a prime number")

2   3   5   7   11   13   17   19   23   29   31   37   41   43   47

#### ====================================================================================
#### Question 9: Function Composition
Write functions to:
1. Calculate total marks  
2. Calculate average  
3. Classify result (Distinction / Pass / Fail)

Then write a function that combines them and returns:
```
(name, total, average, result)
```

Explain why modular design is beneficial.

In [3]:
# Function to calculate the total marks
# It takes a list of marks and returns their sum
def calculate_total(marks):
    return sum(marks)


# Function to calculate the average marks
# It takes total marks and number of subjects
def calculate_average(total, number_of_subjects):
    return total / number_of_subjects


# Function to classify the result based on average
# Distinction: average >= 75
# Pass: average >= 40
# Fail: average < 40
def classify_result(average):
    if average >= 75:
        return "Distinction"
    elif average >= 40:
        return "Pass"
    else:
        return "Fail"


# Main function that combines all calculations
# It returns name, total marks, average, and result
def student_result(name, marks):
    total = calculate_total(marks)              # Calculate total marks
    average = calculate_average(total, len(marks))  # Calculate average
    result = classify_result(average)           # Decide result

    return (name, total, average, result)

marks = [88, 85, 90, 96, 96]   # Marks obtained in different subjects
output = student_result("Tushar", marks)
print(output)

('Tushar', 455, 91.0, 'Distinction')

#### ====================================================================================
#### Question 10: Defensive Input Parsing
Write a function that accepts a raw input string in the format:

```
"Ram|101|22|78, 88, 91"
```
Hint: Parse student data from string format: "Name|Roll|Age|Mark1, Mark2, Mark3"

Tasks:
1. Extract name, roll number, age, and marks  
2. Convert them into appropriate data types  
3. Validate age (≥16) and marks (0–100)  
4. Return the result as a dictionary using roll number as the key  

The function must not crash for malformed input.

In [4]:
def parse_student_record(data):
    result = {}

    try:
        # Split the input string
        parts = data.split("|")
        name = parts[0]
        roll = int(parts[1])
        age = int(parts[2])

        # Age validation
        if age < 16:
            return {}

        # Split and convert marks
        marks = []
        for m in parts[3].split(","):
            mark = int(m.strip())
            if mark < 0 or mark > 100:
                return {}
            marks.append(mark)

        # Store result using roll number as key
        result[roll] = {
            "Name": name,
            "Age": age,
            "Marks": marks
        }

    except:
        # If anything goes wrong, return empty dictionary
        return {}

    return result
input_str = "Ram|101|22|78, 88, 91"
print(parse_student_record(input_str))

{101: {'Name': 'Ram', 'Age': 22, 'Marks': [78, 88, 91]}}

#### ====================================================================================
#### Question 11: Type Stability and Conversion
Given the list:
```python
data = [10, "20", 30.5, "abc", None, True]
```

Write a function that:
1. Separates numeric and non-numeric values  
2. Converts numeric values to float  
3. Returns both lists  

Explain in comments why `True` behaves as a numeric value.

In [9]:
def separate_numeric(data):
    numeric = []
    non_numeric = []

    for item in data:
        try:
            # True behaves like 1 because in Python bool is a subclass of int
            # So True == 1 and False == 0
            num = float(item)
            numeric.append(num)
        except:
            non_numeric.append(item)

    return numeric, non_numeric

data = [10, "20", 30.5, "abc", None, True]
nums, others = separate_numeric(data)

print("Numeric values:", nums)
print("Non-numeric values:", others)

Numeric values: [10.0, 20.0, 30.5, 1.0]
Non-numeric values: ['abc', None]

#### ====================================================================================
#### Question 12: Pattern-Based Looping
Generate the sequence:
```
2, 6, 12, 20, 30, 42, 56
```

Rules:
- Do not hardcode the list  
- Use loops and conditionals only  
- Explain the pattern in comments

In [2]:
n_terms = 10

# Using for loop to generate the sequence 
for n in range(1, n_terms + 1):
    term = n * (n + 1)
    print(term, end=", ")


#  Pattern Explanation:
#  The sequence is: 2, 6, 12, 20, 30, 42, 56
#  If we look closely, each term follows the formula:
#      nth term = n * (n + 1)
#  For example:
#      1st term: 1 * 2 = 2
#      2nd term: 2 * 3 = 6
#      3rd term: 3 * 4 = 12
#      4th term: 4 * 5 = 20
#  ...and so on.

2, 6, 12, 20, 30, 42, 56, 72, 90, 110,

#### ====================================================================================
#### Question 13: Set-Based Enrollment Analysis
Given:
```python
python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}
```

Find:
1. Students enrolled in exactly two subjects  
2. Students enrolled in only one subject  
3. Students enrolled in all subjects

In [1]:
python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}

# Students enrolled in all subjects
all_subjects = python & sql & statistics

# Students enrolled in exactly two subjects
exactly_two = (
    (python & sql) |
    (python & statistics) |
    (sql & statistics)
) - all_subjects

# Students enrolled in only one subject
only_one = (python | sql | statistics) - exactly_two - all_subjects

print("Students enrolled in all subjects:", all_subjects)
print("Students enrolled in exactly two subjects:", exactly_two)
print("Students enrolled in only one subject:", only_one)

Students enrolled in all subjects: {'Hari'}
Students enrolled in exactly two subjects: {'Amit', 'Nita'}
Students enrolled in only one subject: {'Ram', 'Gita', 'Sita'}

#### ====================================================================================
#### Question 14: Dictionary Aggregation Logic
Given:
```python
records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}
```

Write a function that:
1. Computes average per student  
2. Identifies top and bottom performers  
3. Returns results using a single dictionary

In [5]:
def analyze_records(records):
    result = {}

    # Step 1: find average marks of each student
    for name in records:
        marks = records[name]
        avg = round(sum(marks) / len(marks), 2)
        result[name] = avg

    # Step 2: find top and bottom performer
    top_student = max(result, key=result.get)
    bottom_student = min(result, key=result.get)

    # Step 3: store everything in one dictionary
    final_result = {
        "averages": result,
        "top_performer": top_student,
        "bottom_performer": bottom_student
    }

    return final_result

records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}

print(analyze_records(records))

{'averages': {'Amit': 83.67, 'Sita': 84.0, 'Hari': 52.33}, 'top_performer': 'Sita', 'bottom_performer': 'Hari'}

#### ====================================================================================
#### Question 15: Nested Data Structure Analysis
Given a nested dictionary representing a school's grade book:
```python
school_data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}
```

Write a function that:
1. Calculates the average marks for each student
2. Finds the top performer in each class
3. Calculates the overall school average
4. Returns a dictionary with:
   - `class_toppers`: {class_name: (student_name, average)}
   - `school_average`: float
   - `student_averages`: {student_name: average}

Explain in comments why nested dictionaries are useful for hierarchical data.

In [6]:
def analyze_school_data(school_data):
    class_toppers = {}
    student_averages = {}
    total_marks = 0
    total_subjects = 0

    for class_name in school_data:
        highest_avg = 0
        topper_name = ""

        for student_name in school_data[class_name]:
            marks = school_data[class_name][student_name]
            avg = round(sum(marks) / len(marks), 2)

            # Store student average
            student_averages[student_name] = avg

            # Update class topper
            if avg > highest_avg:
                highest_avg = avg
                topper_name = student_name

            # Accumulate for school average
            total_marks += sum(marks)
            total_subjects += len(marks)

        # Store topper for the class
        class_toppers[class_name] = (topper_name, highest_avg)

    # Calculate overall school average
    school_average = round(total_marks / total_subjects, 2)

    return {
        "class_toppers": class_toppers,
        "school_average": school_average,
        "student_averages": student_averages
    }
school_data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}

print(analyze_school_data(school_data))

{'class_toppers': {'Class A': ('Sita', 84.0), 'Class B': ('Ram', 91.67)}, 'school_average': 77.92, 'student_averages': {'Amit': 83.67, 'Sita': 84.0, 'Hari': 52.33, 'Ram': 91.67}}